{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
