.footer__link {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.footer_bottom_link {
  color: #fff;
}
.footer__link,
.footer_bottom_link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.5s cubic-bezier(0.74, 0.72, 0.27, 0.24);
  }

  &:hover {
    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}
li:first-child .footer_bottom_link::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 12px;
  background: #fff;
}
